# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
next-demos/node_modules
next-demos/.pnp
next-demos/.pnp.js

# testing
next-demos/coverage

# next.js
next-demos/.next/
next-demos/out/

# production
next-demos/build

# misc
next-demos/.DS_Store
next-demos/*.pem

# debug
next-demos/npm-debug.log*
next-demos/yarn-debug.log*
next-demos/yarn-error.log*
next-demos/.pnpm-debug.log*

# local env files
.env*.local

# vercel
next-demos/.vercel

# typescript
next-demos/*.tsbuildinfo
next-demos/next-env.d.ts

